.vscode/
appendix/acknowledgements.aux
appendix/publications.aux
body/conclusion.aux
body/eight.aux
body/menu.aux
tjumain.aux
tjumain.log
tjumain.out
tjumain.pdf
tjumain.synctex.gz
tjumain.thm
tjumain.toc